<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <h1>Concrete Suppliers</h1>

        <div>
            <ul>
                <li>Thomas</li>
            </ul>
        </div>
        <div>
            <a href="/suppliers/new" class="btn btn-success">Add New Supplier</a>
            <a href="/" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
    <%- include('../partials/end'); %>