<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <h1>Add New Supplier</h1>
        <form action="">
            <div>
                <label for="name">Supplier Name:</label>
                <input type="text" name="name" id="name" placeholder="Name">
            </div>
            <div>
                <label for="city">City:</label>
                <input type="text" name="name" id="name" placeholder="City">
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%- include('../partials/end') %>