<%- include('partials/head') %>

<body>
    <%- include('partials/navbar'); %>
    <div class="container">
        <h1>Concrete Mix Database Home</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1621121013599-c94f85975cfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title">Suppliers</h5>
                        <p class="card-text">Database of concrete suppliers.</p>
                        <a href="/suppliers" class="btn btn-primary">Go to Suppliers</a>
                    </div>

                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1560435650-7ec2e17ba926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title">Mixes</h5>
                        <p class="card-text">Database of concrete mixes.</p>
                        <a href="/mixes" class="btn btn-primary">Go to Mixes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/end'); %>