<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <h1>Concrete Mixes</h1>


        <ul>
            <li>7089-3</li>
        </ul>

        <div>
            <a href="/mixes/new" class="btn btn-success">Add New Concrete Mix</a>
            <a href="/" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
    <%- include('../partials/end'); %>